.square{
    outline: none;
    background-color: white;
    border:solid 1px black;
    width:60px;
    height:60px;
    font-weight: bold;
    font-size: 20px;
}

.square:hover{
    border-color:red;
    color:red;
}